.courses{
  font-size: 1em;
}

.detail_description{
  font-size: 2em;
}

.text_in_home{
  font-family: 'Andika New Basic',sans-serif;
}

/* .blog_link{
  color:red;
} */

.detail_description{
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 20px;
}

.topnav{
  background-color: #b2b2d1;
}

body{
  background-image: url(https://img.freepik.com/free-vector/abstract-hexagonal-white-background-design_1017-17583.jpg?size=626&ext=jpg);
  background-size: cover;
  background-color: lightblue;
}




.bloglink{
  color:red;
}
.bloglink:hover{
  color:red;
  text-decoration: none;
}
